---
import RecommendedUsers from "./RecommendedUsers";

const { userInfo } = Astro.props;
---

<aside
  class="p-3 border-l border-white/20 border-solid flex flex-col w-full h-screen"
>
  <>
    <form class="pb-6" action="">
      <div class="relative w-full">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"></path>
          </svg>
        </div>
        <input
          required
          type="search"
          id="search"
          name="search"
          class="border text-sm rounded-lg block w-full ps-10 p-2.5 focus:bg-white/10 bg-white/10 border-white/20 placeholder-gray-400 text-gray-200 focus:outline-none disabled:bg-white/20 disabled:text-gray-400 disabled:placeholder-gray-400 read-only:bg-white/20 read-only:text-gray-400 read-only:placeholder-gray-400 autofill:bg-white/10"
          placeholder="Buscar"
        />
      </div>
    </form>
    {userInfo && <RecommendedUsers client:load userInfo={userInfo} />}
  </>
</aside>
