---
import ForYou from "../components/ForYou";
import Logout from "../components/Logout.tsx";
import { HomePage } from "../layouts/HomePage";
import Layout from "../layouts/Layout.astro";

const accountId = Astro.cookies.get("accountId");
console.log(Astro.cookies.get("accountId"));
if (!accountId) {
  return Astro.redirect("/register");
}
---

<Layout title="Vibez | ¿Que esta pasando?">
  <HomePage client:load>
    <div class="page-select flex w-full border-b border-solid border-white/20">
      <a
        href="/"
        class="w-1/2 h-16 border-r hover:bg-white/10 transition-colors border-white/20 border-solid text-blue-500 font-medium text-md flex justify-center items-center"
        >Para ti</a
      >
      <a
        href="/follows"
        class="w-1/2 h-16 border-l hover:bg-white/10 transition-colors border-white/20 border-solid text-white font-medium text-md flex justify-center items-center"
        >Siguiendo</a
      >
    </div>
    <ForYou client:load />
  </HomePage>
</Layout>

<style>
  body {
    background-color: rgb(26, 26, 26) !important;
    display: grid !important;
    grid-template-areas: "aside-l main aside-r";
    grid-template-columns: 250px 1fr 250px;
    max-width: 1024px;
    place-items: center;
  }

  
</style>
